# Databse Details
DATABASE_NAME=auth_voult
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
LOG_LEVEL=ERROR
SECRET_KEY=365284431b960ae9c4a5542e9c7f4b97c65c1b76e496e5ee8a26400b5feb0be2
ALGORITHM = "RS256"
ACCESS_EXPIRE_MINUTES = 15
REFRESH_EXPIRE_DAYS = 7
REDIS_URL=redis://redis:redis@localhost:6379/0
LOGIN_RATE_LIMIT_MAX_REQUESTS=5
LOGIN_RATE_LIMIT_WINDOW_SECONDS=60
SIGNUP_RATE_LIMIT_USER_MAX_REQUESTS=2
SIGNUP_RATE_LIMIT_NON_USER_MAX_REQUESTS=10
SIGNUP_RATE_LIMIT_WINDOW_SECONDS=60
USER_DETAILS_RATE_LIMIT_MAX_REQUESTS=5
USER_DETAILS_RATE_LIMIT_WINDOW_SECONDS=60
