# Example database settings for local development.
DATABASE_NAME=auth_voult
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
LOG_LEVEL=ERROR # For Prod Keep ERROR or else You can Use DEBUG & INFO